body
{
    background-color: mintcream;
    font-family: Verdana;

}

#container
{
}

#login
{
    background-color: #128870;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 170px;
}

#leftbar
{
    float: left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: #128870;
}

/*#sidebar*/
/*{*/
/*    loat: left;*/
/*    width: 148px;*/
/*    min-height: 620px;*/
/*    padding: 20px;*/
/*    background-color: lightseagreen;*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*}*/

nav{
   float: left;
    width: 148px;
    min-height: 620px;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    color: coral;
}

form{
    float: left;
    padding: 40px;
    width: 80%;
}

img{
    width: 125px;
}

/*#content {*/
/*    float: left;*/
/*    width: 730px;*/
/*    text-align: center;*/
/*}*/

.table{
    float: left;
    padding: 40px;
    width: 80%;
}

